.contenu-info {
    margin:auto;
    display: flex;
    width: 100%;
    max-width: 90rem;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.contenu-info img {
    width: 400px;
    height: auto;
    border-radius: 5%;
    border: 1px solid black
}

.contenu-info__texte {
    padding: 1em;
    justify-content: left;
}
